$gradient: linear-gradient(rgb(36, 149, 255), rgb(96, 218, 255));
$nightGradient: url(../images/bg-stars.svg) ,linear-gradient(rgb(2, 16, 36),rgb(0, 60, 128));

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
// Global
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins',
    sans-serif;
    color: white;
}
.body{
    @include flex(column, center, center);
    height: 100vh;
}
.show-day{
    background: $gradient;
}
.show-night{
    background: $nightGradient;
}
// Weather Section
.weather-location,
.temp {
    @include flex(row, space-around, center);
    height: 30vh;
    width: 40%;
}
.weather-location {
    h1 {
    letter-spacing: 5px;
    font-size: 2.5rem;
    }
    .icon{
        font-size: 5rem;
        min-width: 12rem;
    }
}
.temp {
    flex-direction: column;

    .degree-content{
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: 3rem;
            cursor: pointer;
        }
        span {
            size: 1.5rem;
        }
    }
    h3{
        letter-spacing: 2px;
    }
    
}

